@import url('https://fonts.googleapis.com/css?family=Natanael+Gama&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

.topbar h1{
  font-family: "Merienda One", sans-serif;
  font-size: 1.2em;
  color: rgb(4, 4, 107);
}

.topbar{
  background-color:rgb(206, 175, 2);
  padding: 10px;
  color: rgb(4, 4, 107);
}

.quote{
  border-radius: 10px;
  color: white;
  margin-left: 970px;
  margin-top: -10px;
  background-color: rgb(4, 4, 75); 

}
 .quote:hover{
  background-color:#ffa500;
  
}

#icons{
 
  margin-left: 122px;
  margin-top: -40px;
}

.topbar i {
  color: rgb(4, 4, 107);
  margin-left:120px;
}

.navbar{
  background-color: rgb(2, 2, 56);
  height: 70px;
  
}

.navbar a{
  color: white;
}

.navbar a:hover{
  
  color: #ffa500;
  text-decoration: none;
}


.dropdown{
  visibility:hidden;
  transition: all 0.5s ease;
  display:none;
  margin-left: 420px;
  position:absolute;
}

.insurances{
  position:relative;
}
a:hover .dropdown{
  display: block;
  visibility: visible;
}

.aboutus{
 border: 1px solid white;
 padding: 60px;
}

.aboutus h1{
  font-weight:bolder;
  font-family: "Natanael Gama";
}

.aboutus p{
  font-family:"Courgette", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}

#logo{
 
  width:170px;
}

#logo img{
  margin-left: 20px;
}

#logo p{
  font-family:"Courgette", Arial, Helvetica, sans-serif;
}

.mission{
  width: 500px;
  
  border-radius:5px;
  box-shadow: 0px 0px 16px #001060;
  height: 150px;
  padding: 8px;
  margin-left: 30px;
}

.vision{
  width: 500px;
  
  border-radius:5px;
  box-shadow: 0px 0px 16px #001060;
  height: 150px;
  padding: 8px;
  float:right;
  margin-right: 50px;
}

.vision img{
  margin-top:-160px;
}

.vision h1{
  color:rgb(0, 65, 139);
  font-family:"Bangers";
}

.mission h1{
  color:rgb(0, 65, 139);
  font-family:"Bangers";
}


.footer{
  
  left: 0 ;
  margin-top: 170px;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color:#051a47;
  color: white;
  padding: 10px;
  }  
  
.logo{
  width: 20px;
  padding:2px;
  margin-top: 5px;
  margin-left: 5px;
  
  }

 #coreValues{
   margin-top: 170px;
   padding: 10px;
   margin-left: 40px;

 }

 #coreValues h1{
  color:rgb(0, 65, 139);
  font-family:"Bangers";
 }

 #coreValues h2{
   font-family:"Alata";

 }
 #coreValues li{
  font-family:"Courgette", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
 }