@import url('https://fonts.googleapis.com/css?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

.topbar h1{
  font-family: "Merienda One", sans-serif;
  font-size: 1.2em;
  color: rgb(4, 4, 107);
}

.topbar{
  background-color:rgb(206, 175, 2);
  padding: 10px;
  color: rgb(4, 4, 107);
}

.topbar i {
  color: rgb(4, 4, 107);
  margin-left:120px;
}

.navbar{
  background-color: rgb(2, 2, 56);
  height: 70px;
  
}

.navbar a{
  color: white;
}

.navbar a:hover{
  
  color: #ffa500;
  text-decoration: none;
}

#icons{
 
  margin-left: 122px;
  margin-top: -40px;
}

#logo{
 
  width:170px;
}

#logo img{
  margin-left: 20px;
}

#logo p{
  font-family:"Courgette", Arial, Helvetica, sans-serif;
}
.text h1{
  color: rgb(243, 181, 9);
}

.text p{
  font-size: 1.2em;
  color: rgb(1, 2, 2);
}
.intro{
  width:1260px;
  margin-left:10px;
  height: 500px;


  
}

h1{
  font-family:"Bangers", sans-serif;
  color: rgb(4, 4, 61);
}

.intro img{
  width:1150px;
  height: 500px;
  margin-left: 70px;padding: 10px;
  object-fit: cover;
  position: relative;
}

.MagicScroll{
  background-color: white;
  margin-top: 100px;
}

.text{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(5, 4, 4);
  font-weight: bold;

}



.footer{
  
  left: 0 ;
  margin-top: 40px;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color:#051a47;
  color: white;
  padding: 10px;
  }  
  
.logo{
  width: 30px;
  padding:2px;
  margin-top: 5px;
  margin-left: 5px;
  
  }
      