@import url('https://fonts.googleapis.com/css?family=Natanael+Gama&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

.topbar h1{
  font-family: "Merienda One", sans-serif;
  font-size: 1.2em;
  color: rgb(4, 4, 107);
}

.topbar{
  background-color:rgb(206, 175, 2);
  padding: 10px;
  color: rgb(4, 4, 107);
}


.topbar i {
  color: rgb(4, 4, 107);
  margin-left:120px;
}



#logo{
 
  width:170px;
}

#logo img{
  margin-left: 20px;
}

#logo p{
  font-family:"Courgette", Arial, Helvetica, sans-serif;
}
.navbar{
  background-color: rgb(2, 2, 56);
  height: 70px;
  
}

.navbar a{
  color: white;
}

.navbar a:hover{
  
  color: #ffa500;
  text-decoration: none;
}

.dropdown{
  visibility:hidden;
  transition: all 0.5s ease;
  display:none;
  margin-left: 420px;
  position:absolute;
}
.insurances{
  position:relative;
}
a:hover .dropdown{
  display: block;
  visibility: visible;
}
#icons{
 
  margin-left: 122px;
  margin-top: -40px;
}

#personalinsurances h1{
  text-align: center;
  
  font-family: "Bangers";
 
}

#personalinsurances img{
  margin-left: 50px;
}

.images2{
  float:left;
  text-align: center;
  
  width: 400px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0px 0px 16px black;
}

.images2:hover{
  box-shadow: 5px 5px 26px darkblue;
}

p{
  font-family:"Courgette", Arial, Helvetica, sans-serif;
  font-size: large;
  color: black;
}

h2{
  font-family: "Natanael Gama" , Arial, Helvetica, sans-serif;
  color: rgb(221, 200, 9);
}


.footer{
  
  left: 0 ;
  margin-top: 1070px;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color:#051a47;
  color: white;
  padding: 10px;
  }  
  
.logo{
  width: 20px;
  padding:2px;
  margin-top: 5px;
  margin-left: 5px;
  
  }
