@import url('https://fonts.googleapis.com/css?family=Natanael+Gama&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

.topbar h1{
  font-family: "Merienda One", sans-serif;
  font-size: 1.2em;
  color: rgb(4, 4, 107);
}

.topbar{
  background-color:rgb(206, 175, 2);
  padding: 10px;
  color: rgb(4, 4, 107);
}


.topbar i {
  color: rgb(4, 4, 107);
  margin-left:120px;
}



#logo{
 
  width:170px;
}

#logo img{
  margin-left: 20px;
}

#logo p{
  font-family:"Courgette", Arial, Helvetica, sans-serif;
}
.navbar{
  background-color: rgb(2, 2, 56);
  height: 70px;
  
}

.navbar a{
  color: white;
}

.navbar a:hover{
  
  color: #ffa500;
  text-decoration: none;
}

#icons{
 
  margin-left: 122px;
  margin-top: -40px;
}



.footer{
  
  left: 0 ;
  margin-top: 220px;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color:#051a47;
  color: white;
  padding: 10px;
  }  
  
.logo{
  width: 20px;
  padding:2px;
  margin-top: 5px;
  margin-left: 5px;
  
  }

#contacts{
  
  width: 600px;
  margin-left: 20px;
  margin-top: 20px;
}



#contacts .form-group{
  width:500px;
  margin-left: 10px;
  
}  


h2{
  font-family: "Alata", Arial, Helvetica, sans-serif;
}

label{
  color: rgb(4, 4, 66);
}

button{
  margin-left: 30px;
  margin-top: 20px;
  background: rgb(2, 8, 82);
  color: white;
  border-radius: 5px;
}

#travel{
  width: 500px;
  float:right;
  margin-top: -360px;
  margin-right: 150px;
}